Django==2.2.21
Unipath==1.1
dj-database-url==0.4.1
django-cors-headers==1.2.2
django-extensions==2.0.7
whitenoise==3.2.1
dj-static==0.0.6
django-suit==0.2.26
python-dotenv==0.6.0
gunicorn==19.6.0
django-naomi==0.8
djangorestframework==3.8.2
django-rq==1.1.0
click==6.6
rq==0.6.0
python-monkey-business==1.0.0
raven==5.32.0
fuzzywuzzy==0.16.0
nltk==3.4.5
pyparsing==2.2.0
python-dateutil==2.7.2
python-Levenshtein==0.12.0
pyzipcode3==2.2
redis==2.10.6
requests==2.18.4
sure==1.4.9
urllib3==1.22
usaddress==0.5.10
yelpapi==2.2.2
beautifulsoup4==4.6.0
selenium==3.12.0
boto3==1.7.20
django-redis-cache==1.7.1
geocoder==1.38.1
html5lib==1.0.1
tqdm==4.23.4
xmltodict==0.11.0
demjson==2.2.4
unicodecsv==0.14.1
geopy==1.16.0